.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    overflow: hidden;
    position: fixed;
}
.logo {
    text-align: left;
    margin:0px, 10px;
    padding:0;
}
.profile {
    height: 1050px;
}

.menu {
    flex-direction: row;
    justify-content: flex-end;
    margin: 7px 0;
    margin: 0;
    padding-right: 0;
 
}
.pro {
    height:100px;
}

.menu a {
    margin: 0px;
    background-color: transparent;
}
.menu a:hover {
    background-color: gray;
    width:40%;
}
/*profile*/
.content p {
    width:400px;
}
.btn {
    width:300px;
}
.about {
    height: 950px;
}
.me input, textarea {
    width:500px;
}
.order {
    height: 700px;
}
.hi {
    height :600px;
}
footer {
    display: grid;
    grid-template-columns: auto auto;
}